* {
	margin:0;
	padding:0;
	box-sizing:border-box
}

.users-table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 0px;
}

.users-table-cell {
    border: 1px solid black;
}

.title{
    font-size: 30px; 
    line-height: 36px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.create-user-icon{
    color: skyblue ;
    font-size: 36px ;
    line-height:  40px ;
}

.home-content{
    padding: 4px;
}

.border-margin {
    margin: 24px 24px;
}

.item-margin {
    display: block;
}

.link{
    text-decoration: none;
    color: black;
}

/* Container for the book items */
.book-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
  
  .book-card {
    width: 200px; /* Adjust the width of each card as needed */
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Additional styling for book images within the card */
  .book-card img {
    max-width: 100%;
    height: auto;
  }
  

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gap-container{
    row-gap: 16px;
}

.card-button{
    background-color: rgb(125 211 252);
    padding: 1px 4px;
    border-radius: 8px;
}

.card-button:hover{
    background-color: rgb(2 132 199);
}

.aling-center{
    align-items: center;
}

.backButton-flex{
    display: flex;
}

.backButton-Link{
    background-color: rgb(7 89 133);
    color: white;
    padding: 1px 4px;
    border-radius: 8px;
    width: fit-content;
}


.loader{
    padding: 4rem 0;
}
.loader img{
    width: 120px;
}

.grid-container{
    display: grid;
    
}

@media (min-width: 640px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (min-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1280px) {
    .grid-container {
      grid-template-columns: repeat(4, 1fr);
    }
}

.grid-cell{
    border-radius: 12px;
    position: relative;
    padding:4px 4px;
    margin: 4px;
    border:2px solid black
}

.grid-cell:hover{
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.grid-cell-title{
    position: absolute;
    top: 1px;
    right: 2px;
    padding: 1px 4px;
    margin: 2px;
    background-color: rgb(252 165 165);
    border-radius: 8px;
}

.grid-cell-subtitle{
    margin: 2px;
    color: lightgray;
}

.user-card{
    display: flex;
    justify-content:start;
    align-items: center;
    column-gap: 2px;
}

.user-card-links{
    column-gap:2px ;
    margin-top: 4px;
}

.user-operations{
    display: flex;
    justify-content: center;
    column-gap: 4px;
}

.user-operation {
    font-size: 24px;
    line-height: 32px;
}

.user-operation:hover{
    color: black
}

.user-operation-details {
    color: green;
}

.user-operation-edit {
    color: yellow;
}

.user-operation-delete {
    color: red;
}

.user-info{
    padding: 4px;
}

.user-details-flex{
    display: flex;
    flex-direction:column;
    border-width: 2px;
    border-color: rgb(56 189 248); 
    border-radius: 12px;
    width: 100%;
    padding: 4px;
}

.register-user{
    display: flex;
    flex-direction:column;
    border-width: 2px;
    border-color: rgb(56 189 248); 
    border-radius: 12px;
    width: 600px;
    padding: 4px;
    margin-left: auto; 
    margin-right: auto;
}

.top-bottom-margin {
    margin: 4px 0;
}

.user-details-cell{
    font-size:  20px;
    line-height:  28px;
    margin-right: 4px;
    color: rgb(107 114 128);
}

.user-input{
    border: 2px solid gray;
    padding: 2px 4px;
    width: 100%;
}

.delete-button{
    background-color:red;
    color: white;
    margin: 8px;
    width: 100%;
}

.submit-button{
    padding:2px;
    margin: 8px;
    background-color: skyblue;
    
}
